*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 44px 0 144px 76px;
}

.link-header{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}

.button-header{
    background: #6fbf44;
    border-radius: 5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: white;
    cursor: pointer;
}

.logo-image{
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section{
    display: inline-block;
    margin: 86px;
    width: 515px;
}

h1{
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    color: #333760;
    
    margin-bottom: 60px;
}

p{
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #848484;
    
    margin-top: 32px;
    margin-bottom: 80px;
}

.button-section{
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    color: #6fbf44;
    cursor: pointer;
    background: transparent;
    border: none;
    
}

@media screen and (max-width: 740px) {
    .link-header{
        display: none;
    }
    .button-header{
        margin-left: 63vh;
}
.logo-image{
    position: absolute;
    margin-top: 90vh;
    padding-right: 100px;
}

h1{
    width: 400px;
    margin-left: 70px;
    margin-bottom: 20px;
    text-align: center;

}
p{
    margin-left: 60px;
    font-size: 30px;
    width: 400px;
    line-height: 50px;
     margin-bottom: 20px;

    
}
.button-section{
    display: block;
    margin: auto;
}
}